<br>
<hr>
<div class="text-center">
  <h3>Add a New Friend</h3>
</div>
<div class="container col-12">
  <form [formGroup]="this.friendService.form" (ngSubmit)="onSubmit()">
    <input type="hidden" formControlName="$key">
    <div class="form-group col-md-6 offset-md-3">
      <label for="nama">Name:</label>
      <input formControlName="nama" type="text"  id="nama" class="form-control"
        [ngClass]="{'is-invalid': submitted && formControls.nama.errors}">
      <div class="invalid-feedback" *ngIf="submitted && formControls.nama.errors">
        <label *ngIf="formControl.nama.error.required">Tidak boleh kosong</label>
        <label *ngIf="formControl.nama.error.minlength">Min 3 karakter</label>
        <label *ngIf="formControl.nama.error.maxlength">Max 20 karakter</label>
      </div>
    </div>
    <div class="form-group col-md-6 offset-md-3">
      <label for="email">Email:</label>
      <input formControlName="email" type="email" name="email" id="email" class="form-control"
        [ngClass]="{'is-invalid': submitted && formControls.email.errors}">
      <div class="invalid-feedback" *ngIf="submitted && formControls.email.errors">
        <label *ngIf="formControls.email.errors.required">Email tidak boleh kosong</label>
        <label *ngIf="formControls.email.errors.email">Alamat email salah</label>
      </div>
    </div>
    <div class="form-group col-md-6 offset-md-3">
      <label for="contact">Contact No:</label>
      <input formControlName="contact" type="text" name="contact" id="contact" class="form-control"
        [ngClass]="{'is-invalid': submitted && formControls.contact.errors}">
      <div class="invalid-feedback" *ngIf="submitted && formControls.contact.errors">
        <label *ngIf="formControls.contact.errors.required">Tidak boleh kosong</label>
        <label *ngIf="formControls.contact.errors.minlength">Minimal 12 digit </label>
        <label *ngIf="formControls.contact.errors.pattern"> Harus angka</label>
      </div>
    </div>
    <div class="col-md-6 offset-md-3">
      <input type="submit" class="btn btn-success" value="Add Friend">
    </div>
  </form>
  <br>
  <div></div>
  <div class="alert alert-info" *ngIf="showSuccessMessage">
    Submitted Successfully.
  </div>
</div>
<app-friend-list></app-friend-list>
