<nav class="navbar navbar-expand-lg navbar-light bg-success">
  <a class="navbar-brand">Welcome To My Friend App!</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <nav class="navbar navbar-expand-lg navbar-light bg-success">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <a class="navbar-brand" routerLink="/home">Home</a>
    </ul>
      <ul class="navbar-nav">
          <a class="navbar-brand" routerLink="/contact">Contact Me</a>
      <!-- <li routerLinkActive="active current">
        <a class="nav-link" routerLink="/post">Post</a>
      </li> -->
    </ul>
  </div>
</nav>
